div.style1 {
    background-color: lightskyblue;
    height: 20px;

}

div.style2 {
    background-color: yellow;
    height: 700px;
    
}

div.style3 {
    background-color:rgb(154, 240, 26);
    height: 20px;
    
}

div.menu {
    background-color: palevioletred;
    height: 700px;
    widht: 50px;
}