div.style1 {
    background-color: lightskyblue;
    height: 30px;
    width: 1500px;

}

div.style2 {
    background-color: yellow;
    height: 825px;
    width: 1500px;
    z-index: 1;
    position: absolute;
    
}

div.menuhaut {
    background-color: green;
    height: 475px;
    width: 50px;
    z-index: 1;
    position: absolute;
    top: 0px
}

div.menubas {
    background-color: plum;
    height: 475px;
    width: 50px;
    z-index: 1;
    position: absolute;
    top: 350px;
}

div.blocknews {
    background-color: red;
    height: 200px;
    width: 150px;
    position: absolute;
    left: 1358px;
    top: 38px;
    z-index: 1;
} 

div.style3 {
    background-color:rgb(154, 240, 26);
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 1500px;
    z-index: 2;
}